.iconimg {
    width: 35px;
    height: 30px;
}
.whatsbtn {
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background-color: #25d366;
}
.txtss {
    text-decoration: none;
    color: white;
}