.bgcolor {
    background-color: black;
}
.headcolorss {
    color: black;
}
.headcolorss:hover {
    color: #00b0db;


}
.headcolors {
   color: #00b0db;
}
.headcolori {
    color: #E5A317;
 }
 .divhead:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: translateY(-2px);


 }